/* Estilos compartidos */
ion-content {
  --background: var(--ion-color-light);
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.user-name {
  font-weight: bold;
  color: var(--ion-color-tertiary);
}

/* Estilos para la versión de escritorio */
.desktop-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-smooth_light);
}

/* Estilos para la versión móvil */
.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mobile-layout .card {
  background: url("../../../../../assets/background/background.png") no-repeat
    top center / cover;
  border-radius: 20px 20px 0% 0%;
  position: absolute;
  width: 100%;
  color: var(--ion-color-dark);
  padding: 40px 5% 0 5%;
  max-height: 70%;
  overflow-y: visible;
  bottom: 0;
  min-height: 65%;
  transition: all 0.3s ease;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
}

.mobile-layout .profile-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -25px;
  width: 100%;
  padding: 0 0 0 20px;
  transition: all 0.3s ease;
}

.mobile-layout .circle {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  min-width: 143px;
  min-height: 143px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--ion-color-light);
  transition: all 0.3s ease;
}

.mobile-layout .circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-layout .content {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-size: 1.5rem;
  flex-direction: column;
  position: relative;
  top: -10px;
  color: var(--ion-color-primary);
  transition: all 0.3s ease;
}

.mobile-layout .counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

/* Media queries para diseño responsive */
@media (min-width: 768px) and (max-width: 991px) {
  .mobile-layout app-greeting {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
  }
  
  .mobile-layout .card {
    max-width: 90%;
    left: 5%;
    border-radius: 20px;
    min-height: 60%;
    max-height: 80%;
    padding: 60px 5% 0 5%;
  }

  .mobile-layout .profile-container {
    justify-content: center;
    padding: 0;
  }

  .mobile-layout .circle {
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
  }

  .mobile-layout .content {
    font-size: 1.8rem;
  }

  .mobile-layout .user-name {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  /* Estilos específicos para escritorio */
  app-dashboard-sidebar {
    width: 250px;
    height: 100%;
  }
  
  app-dashboard-main {
    flex: 1;
    height: 100%;
  }
}
