<!-- <div class="filters">
  <button 
    [class.active]="currentFilter === 'day'" 
    (click)="setFilter('day')">Día</button>
  <button 
    [class.active]="currentFilter === 'week'" 
    (click)="setFilter('week')">Semana</button>
  <button 
    [class.active]="currentFilter === 'month'" 
    (click)="setFilter('month')">Mes</button>
  <button 
    [class.active]="currentFilter === 'year'" 
    (click)="setFilter('year')">Año</button>
</div>


<div class="navigation">
  <button (click)="navigate('prev')">&larr;</button>
  <span>{{ currentPeriodLabel }}</span>
  <button (click)="navigate('next')">&rarr;</button>
</div>

<div *ngIf="chartOptions">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
  ></apx-chart>
</div> -->
