<div class="top-bar">
  <div class="requests-info" [ngStyle]="{ 'font-weight': fontWeight }">
    @if(highlighted){
      Tienes <span>{{ highlighted }}</span> de citas pendientes por asignar.
    }@else {
      {{text}}
    }
  </div>  
  <div class="filter-section">
    <div class="input-wrapper">
      <input 
        type="text" 
        placeholder="Buscar por nombre, documento, especialidad..." 
        [(ngModel)]="searchTerm"
        (input)="onSearchInput($event)"
      />
      <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn" (click)="toggleDropdown()">
        @if(showDropdown){
        <fa-icon [icon]="faCaretDown"></fa-icon>
        }@else {
        <fa-icon [icon]="faCaretUp"></fa-icon>
        }
        <span>Filtrar</span>
        <fa-icon [icon]="faFilter"></fa-icon>
      </button>
      @if (showDropdown){
      <div class="dropdown-content">
        <div class="filter-group">
          <h4>Estado</h4>
          <button (click)="applyFilter('status', 'requested')">Solicitadas</button>
          <button (click)="applyFilter('status', 'confirmed')">Confirmadas</button>
          <button (click)="applyFilter('status', 'rescheduled')">Reprogramadas</button>
          <button (click)="applyFilter('status', 'cancelled')">Canceladas</button>
        </div>
        <div class="filter-group">
          <h4>Especialidad</h4>
          <button (click)="applyFilter('specialty', 'Medicina General')">Medicina General</button>
          <button (click)="applyFilter('specialty', 'Acompañamiento de Citas Médicas')">Acompañamiento de Citas Médicas</button>
          <button (click)="applyFilter('specialty', 'Cuidador')">Dermatología</button>
          <button (click)="applyFilter('specialty', 'Recoger Medicamentos')">Recoger Medicamentos</button>
        </div>
        <div class="filter-actions">
          <button class="clear-btn" (click)="clearFilters()">Limpiar filtros</button>
        </div>
      </div>
      }
    </div>
  </div>
</div>