<div class="medical_history-box">
  <!-- Indicador de carga -->
  <div class="h-container" style="align-items: flex-start !important">
    <div style="display: flex; justify-content: space-between; width: 100%">
      <h2>Alergias</h2>

      <app-edit-button
        route="/beneficiary/home/medicaments-allergies/form"
        top="0px"
        background="transparent"
      ></app-edit-button>
    </div>

    <div class="allergies-box">
      @if(activeBeneficiary.health_data.medical_info.allergies.length > 0) {
      @for (item of activeBeneficiary.health_data.medical_info.allergies; track
      item) {
      <app-secondary-card class="allergy-card">
        <div class="h-card-left">
          <p>{{ item.tipo_alergia }}</p>
          <p>{{ item.descripcion }}</p>
        </div>
      </app-secondary-card>
      } } @else {
      <p>No hay alergias registradas.</p>
      }
    </div>
  </div>
</div>
