:root {
    --ion-color-primary: #35B6D9;
    --ion-color-secondary: #F58418;
    --ion-color-tertiary: #275289;
    --ion-color-success: #4EAA03;
    --ion-color-warning: #E8D641;
    --ion-color-danger: #D72638;
    --ion-color-danger2: #F58418;
    --ion-color-light: #FFFFFF;
    --ion-color-medium: #D8E7EE;
    --ion-color-dark: #275289;
    --ion-color-card: #89bbd5;
    --color-background: #582F87;

    --color-button-background-active: #00B5EB;
    --color-button-background: #FFF;

  }

