<div class="dash-header" [ngStyle]="{'background': background, 'border-radius': border, 'box-shadow': boxshadow}">
  @if (icon) {
    <div class="logo">
      <img src="assets/logo/logo_.png" alt="Cuídame" />
    </div>
  }
  <div class="basic-data">
    <p>Hola, {{ userName }}</p>
    <p>{{ greeting }}</p>
  </div>
  <div class="box">
    <button class="nav-button" (click)="navigateToPage()">
      <ion-icon name="calendar-outline"></ion-icon>
      Agenda tus citas
    </button>
  </div>
</div>