.dash-header {
    color: var(--ion-color-dark);
    padding: 30px;
  }
  
  .dash-header p:nth-child(1) {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .dash-header p:nth-child(2) {
    font-size: 1.875rem;
  }
  