<ion-content scroll-y="false">
  <div class="logo-container">
    <ion-img class="logo" src="assets/logo/logo.png"></ion-img>
  </div>
  <div class="card">
    @if (currentView === 'login') {
    <app-login (forgotPassword)="switchView('reset-password')"></app-login>
    <p class="toggle-text">
      ¿No tienes cuenta? <a (click)="switchView('register')">Regístrate aquí</a>
    </p>

    } @else if (currentView === 'register') {
    <app-register (registerSuccess)="switchView('login')"></app-register>
    <p class="toggle-text">
      ¿Ya tienes cuenta? <a (click)="switchView('login')">Inicia sesión</a>
    </p>
    } @else {
    <app-reset-password
      (resetSuccess)="switchView('login')"
    ></app-reset-password>
    <p class="toggle-text">
      ¿Recordaste tu contraseña?
      <a (click)="switchView('login')">Inicia sesión</a>
    </p>
    }
  </div>
</ion-content>
<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    { icon: 'arrow-back-outline', route: '/', visible: true },
    { icon: 'menu-outline', route: '/', visible: false },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="'var(--ion-color-light)'"
></app-tab-bar>
