<div class="assigned-container">
  <h2 class="title">
    {{isManual ? 'CITA PENDIENTE POR ASIGNACIÓN' : (isPending ? 'CITA PENDIENTE' : 'CITA ASIGNADA')}}
  </h2>

  <div class="assigned-card">
    <div class="icons">
      <fa-icon [icon]="faCrown" class="crown-icon"></fa-icon>
      @if(isManual) {
        <fa-icon [icon]="faExclamationTriangle" class="warning-icon"></fa-icon>
      } @else {
        <fa-icon [icon]="faCheckCircle" class="check-icon"></fa-icon>
      }
    </div>
    
    @if(isManual) {
      <p>
        El profesional seleccionado no cuenta con su agenda en línea. 
        Por favor comuníquese con el profesional mediante WhatsApp para coordinar la cita.
      </p>
      <div class="actions-container">
        <button class="whatsapp-button" (click)="openWhatsApp()">
          Contactar por WhatsApp
        </button>
        <!-- <button class="save-button" (click)="savePendingAppointment()">
          Guardar cita pendiente
        </button> -->
      </div>
    } @else if(isPending) {
      <p>
        El profesional seleccionado no tiene su agenda disponible, se genera cita
        pendiente por asignación que será confirmada máximo en 72 horas.
      </p>
      <p class="additional-info">
        ¿Necesitas indicaciones para llegar a la clínica?
        <a href="https://maps.google.com" target="_blank">Mira nuestro mapa en Google Maps.</a>
      </p>
    } @else {
      <p>
        La hora de atención para <strong>{{ patientName }}</strong> ya está
        reservada para el próximo <strong>{{ dayOfWeek }}, {{ date }}</strong> a
        las <strong>{{ time }}</strong> Hrs. con 
        <strong>{{ professionalName }}</strong> ({{ specialty }}).
      </p>
      <p>
        Se ha enviado un correo con la confirmación de la cita al paciente y a la
        agenda del profesional.
      </p>
    }
  </div>
</div>