<div class="vaccinations-container">
  <div style="display: flex; justify-content: space-between; width: 100%">
    <h2>Vacunas</h2>
    <app-edit-button
      route="/beneficiary/home/vacinations/form"
      top="0px"
      background="transparent"
    ></app-edit-button>
  </div>

  <div class="h-container">
    @if (activeBeneficiary.health_data.medical_info.vaccines.length > 0) { @for
    (item of activeBeneficiary.health_data.medical_info.vaccines; track item) {
    <app-secondary-card style="width: 100%">
      <div class="vaccine-box">
        <fa-icon [icon]="faSyringe"></fa-icon>
        <div class="h-card">
          <p>{{ item.vacuna }}</p>
        </div>
      </div>
    </app-secondary-card>
    } } @else {
    <p style="text-align: start; width: 100%; color: var(--ion-color-dark)">
      No hay vacunas registradas.
    </p>
    }
  </div>
</div>
