<div class="appointment-card">
  <div class="appointment-header">
    <div class="status-patient">
      <div class="patient-status">
        <span class="status-badge">Activo Familiar</span>
      </div>
      <div class="patient-status">
        <div class="status-dropdown">
          <span
            [ngClass]="getStatusBadgeClass()"
            (click)="
              appointment.status !== 'cancelled' && toggleStatusMenu($event)
            "
            [style.background-color]="getPatientStatusColor()"
          >
            {{ getStatusLabel() }}
            <fa-icon [icon]="faEllipsisV" class="dropdown-icon"></fa-icon>
          </span>
          <div
            class="status-menu"
            *ngIf="showStatusMenu && appointment.status !== 'cancelled'"
          >
            <div
              class="menu-item"
              [class.active]="appointment.status === 'requested'"
              data-status="requested"
              (click)="updateStatus('requested')"
            >
              <span class="status-dot pending"></span>Solicitada
            </div>
            <div
              class="menu-item"
              [class.active]="appointment.status === 'confirmed'"
              data-status="confirmed"
              (click)="updateStatus('confirmed')"
            >
              <span class="status-dot confirmed"></span>Confirmada
            </div>
            <div
              class="menu-item"
              [class.active]="appointment.status === 'rescheduled'"
              data-status="rescheduled"
              (click)="updateStatus('rescheduled')"
            >
              <span class="status-dot rescheduled"></span>Reagendada
            </div>
            <div
              class="menu-item"
              [class.active]="appointment.status === 'cancelled'"
              data-status="cancelled"
            >
              <span class="status-dot cancelled"></span>Cancelada
            </div>
            <div
              class="menu-item"
              [class.active]="appointment.status === 'completed'"
              data-status="completed"
              (click)="updateStatus('completed')"
            >
              <span class="status-dot completed"></span>Completada
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="appointment-body">
    <div class="patient-info">
      <img
        [src]="
          appointment.patient.imagebs64
            ? environment + appointment.patient.photourl
            : 'assets/images/default_user.png'
        "
        alt="Foto de perfil"
        (error)="onImageError($event)"
      />

      <div>
        <p class="patient-name">
          {{ appointment.patient.nombre || "Sin nombre registrado" }}
          {{ appointment.patient.apellido || "Sin apellido registrado" }}
        </p>
        <p class="patient-specialty">
          {{ appointment.specialty.name || "Sin especialidad solicitada" }}
        </p>
      </div>
    </div>
    @if(appointment.professional){
    <p class="professional">
      Profesional: Dr.
      {{ appointment.professional.user.first_name.split(" ")[0] || "" }}
      {{ appointment.professional.user.last_name.split(" ")[0] || "" }}
    </p>

    } @if(appointment.start_time) {
    <div class="appointment-datetime">
      <p class="date-time-info">
        <fa-icon [icon]="faCalendar"></fa-icon>
        @if (!isUnassignedAppointment(appointment.start_time)) {
        {{
          (appointment.start_time | date : "EEEE, dd MMMM yyyy" : "es-ES") ??
            "Sin fecha asignada"
        }}
        } @else { Pendiente de asignación }

        <fa-icon [icon]="faClock" class="time-icon"></fa-icon>
        @if (!isUnassignedAppointment(appointment.start_time)) {
        {{ appointment.end_time | date : "HH:mm" }}
        } @else { Hora por definir }
      </p>
    </div>
    } @else {
    <div class="appointment-datetime">
      <p class="date-time-info no-appointment">
        <fa-icon [icon]="faCalendar"></fa-icon>
        Sin cita programada
        <fa-icon [icon]="faClock" class="time-icon"></fa-icon>
        No disponible
      </p>
    </div>
    }

    <div class="appointment-footer">
      <p class="request-date">Solicitada:
        {{
          (appointment.created_at | date : "EEEE, dd MMMM yyyy" : "es-ES") ??
            "Sin fecha de solicitud"
        }}
      </p>

      <!-- Botón para citas PENDING -->
      @if (appointment.status === 'requested') {
      <app-custom-button
        label="Asignar"
        fontSize="1.5rem"
        padding="5px 10px"
        [disabled]="false"
        [textColor]="'var(--ion-color-dark)'"
        [backgroundImage]="buttonBackground"
        (click)="goToAppointment(appointment)"
      ></app-custom-button>
      } @if (appointment.status === 'requested' && !needsScheduleAssignment()) {
      <app-custom-button
        label="Confirmar"
        fontSize="1.5rem"
        padding="5px 10px"
        [disabled]="false"
        [textColor]="'var(--ion-color-dark)'"
        [backgroundImage]="confirmButtonBackground"
        (click)="confirmAppointment(appointment)"
      ></app-custom-button>
      }
    </div>
  </div>
</div>
