<ion-content>
  <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()" class="animate-slide-up cp-form">
    <p class="p-intro">
      Ingresa tu nueva contraseña
    </p>
    
    <div class="custom-input">
      <label for="password">Nueva Contraseña</label>
      <div class="password-input-container">
        <input 
          id="password" 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password" 
          required 
        />
        <span class="password-toggle" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </span>
      </div>
    </div>
    <p
      class="error-text"
      *ngIf="newPasswordForm.get('password')?.invalid && newPasswordForm.get('password')?.touched"
    >
      La contraseña debe tener al menos 8 caracteres.
    </p>

    <div class="custom-input">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <div class="password-input-container">
        <input 
          id="confirmPassword" 
          [type]="showConfirmPassword ? 'text' : 'password'" 
          formControlName="confirmPassword" 
          required 
        />
        <span class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </span>
      </div>
    </div>
    <p
      class="error-text"
      *ngIf="newPasswordForm.get('confirmPassword')?.invalid && newPasswordForm.get('confirmPassword')?.touched"
    >
      Las contraseñas no coinciden.
    </p>

    <div class="button-container">
      <app-custom-button
        label="Guardar Contraseña"
        type="submit"
        [disabled]="newPasswordForm.invalid || isTokenInvalid"
        [textColor]="'var(--ion-color-light)'"
        [backgroundImage]="buttonBackground"
      ></app-custom-button>
    </div>

    <div *ngIf="isTokenInvalid" class="error-container">
      <p class="error-text">
        El enlace para restablecer la contraseña ha expirado o no es válido.
        Por favor, solicita un nuevo enlace.
      </p>
      <app-custom-button
        label="Solicitar Nuevo Enlace"
        type="button"
        (click)="goToResetRequest()"
        [textColor]="'var(--ion-color-light)'"
        [backgroundImage]="buttonBackground"
      ></app-custom-button>
    </div>
  </form>
</ion-content>