ion-content {
  --background: url("../../../../../assets/background/background.svg") no-repeat
    center center / cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 10px 10px 10px;

  .p-intro{
    color: var(--ion-color-tertiary);
    font-size: large;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.custom-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
  font-size: 1.063rem;
  font-weight: bold;

  label {
    color: var(--ion-color-primary);
    margin-bottom: 15px;
  }
}

.custom-input input {
  background: transparent;
  border: 1px solid var(--ion-color-dark);
  border-radius: 20px;
  padding: 10px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.custom-input input:focus {
  border-color: var(--ion-color-primary);
}


.error-text {
  color: var(--ion-color-danger);
  font-size: 12px;
  font-weight: 500;
}

.signup-text {
  text-align: center;
}


.button-container {
  margin: 10px 0;

}

ion-item.show-pass {
  --background: transparent !important;
  --border-color: transparent !important;
  --inner-border-width: 0px !important;
  --highlight-color-focused: transparent !important;
  --ion-item-background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  color: var(--ion-color-blue-dark) !important;
}


ion-checkbox {
  --border-color: var(--ion-color-blue-dark) !important;
}

@media (min-width: 1024px) {
  form {
    align-items: center;

    .p-intro{
      width: 80%;
      text-align: center;
    }

    .custom-input {
      width: 80%;
      text-align: center;

      label {
        align-self: flex-start;
      }
    }

    .button-container {
      margin: 10px 25px;

    }
  }
}
