<!-- <app-greeting></app-greeting>
<div>
  <div>
    <div class="button" (click)="metricsComponent('bloodPressure')">
      <i class="fa-solid fa-droplet"></i>
      <div class="content-box">
        <label>{{bloodPressure}}</label>
        <p>141/90 mmHg</p>
      </div>
    </div>
    <div class="button" (click)="metricsComponent('heartRate')">
      <i class="fa-solid fa-heart-pulse"></i>
      <div class="content-box">
        <label>{{heartRate}}</label>
        <p>141/90 mmHg</p>
      </div>
    </div>
    <div class="button" (click)="metricsComponent('RespiratoryRate')">
      <i class="fa-solid fa-wave-square"></i>
      <div class="content-box">
        <label>{{RespiratoryRate}}</label>
        <p>141/90 mmHg</p>
      </div>
    </div>
    <div class="button" (click)="metricsComponent('glucose')">
      <i class="fa-solid fa-cubes-stacked"></i>
      <div class="content-box">
        <label>{{glucose}}</label>
        <p>141/90 mmHg</p>
      </div>
    </div>
    <div class="button" (click)="metricsComponent('oxygen')">
      <i class="fa-solid fa-lungs"></i>
      <div class="content-box">
        <label>{{oxygen}}</label>
        <p>141/90 mmHg</p>
      </div>
    </div>

  </div>
</div> -->
