<h2>¿Tu ser querido tiene alguna enfermedad?</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div formArrayName="diseases">
    <div
      class="container-item"
      *ngFor="let disease of diseases.controls; let i = index"
      [formGroup]="getDiseaseFormGroup(i)"
    >
      <app-input
        label="Enfermedad"
        type="text"
        placeholder="Ej. Diabetes"
        [control]="getFormControl(getDiseaseFormGroup(i), 'enfermedad')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDisease(i)">
        Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDisease()">Añadir</button>
  </div>

  <h2>¿Tu ser querido tiene alguna discapacidad o condición?</h2>
  <div formArrayName="disabilities">
    <div
      class="container-item"
      *ngFor="let disability of disabilities.controls; let i = index"
      [formGroup]="getDisabilityFormGroup(i)"
    >
      <app-input
        label="Nombre"
        type="text"
        placeholder="Ej. Ceguera"
        [control]="getFormControl(getDisabilityFormGroup(i), 'name')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDisability(i)">
        Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDisability()">Añadir</button>
  </div>

  <h2>¿Tu ser querido tiene algún rasgo distinivo?</h2>
  <div formArrayName="distinctives">
    <div
      class="container-item"
      *ngFor="let distinctive of distinctives.controls; let i = index"
      [formGroup]="getDistinctiveFormGroup(i)"
    >
      <app-input
        label="Nombre"
        type="text"
        placeholder="Ej. Lunar grande en la mejilla"
        [control]="getFormControl(getDistinctiveFormGroup(i), 'description')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDistinctive(i)">
        Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDistinctive()">Añadir</button>
  </div>

  <app-custom-button
    label="Guardar"
    type="submit"
    [disabled]="!isFormValid()"
    [textColor]="'var(--ion-color-light)'"
    [backgroundImage]="buttonBackground"
  ></app-custom-button>
</form>
