<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>¿Tu ser querido tiene alguna enfermedad?</h2>
    <div formArrayName="diseases">
      <div
        class="container-item"
        *ngFor="let disease of diseases.controls; let i = index"
        [formGroup]="getDiseaseFormGroup(i)"
      >
        <app-input
          label="Enfermedad"
          type="text"
          placeholder="Ej. Diabetes"
          [control]="getFormControl(getDiseaseFormGroup(i), 'enfermedad')"
        ></app-input>

        <button type="button" class="remove" (click)="removeDisease(i)">
          Quitar
        </button>
      </div>
    </div>

    <div class="add-box">
      <button type="button" class="add" (click)="addDisease()">Añadir</button>
    </div>

    <h2>¿Tu ser querido tiene alguna discapacidad o condición?</h2>
    <div formArrayName="disabilities">
      <div
        class="container-item"
        *ngFor="let disability of disabilities.controls; let i = index"
        [formGroup]="getDisabilityFormGroup(i)"
      >
        <app-input
          label="Nombre"
          type="text"
          placeholder="Ej. Ceguera"
          [control]="getFormControl(getDisabilityFormGroup(i), 'name')"
        ></app-input>
        
        <button type="button" class="remove" (click)="removeDisability(i)">
          Quitar
        </button>
      </div>
    </div>

    <div *ngIf="disabilities.length === 0" class="add-box">
      <button type="button" class="add" (click)="addDisability()">Añadir discapacidad</button>
    </div>

    <div *ngIf="isFemale" class="container-item">
      <h3>¿Se encuentra embarazada?</h3>
      <app-input
        label="Estado"
        type="select"
        [options]="[
          { value: 'Si', label: 'Sí' },
          { value: 'No', label: 'No' }
        ]"
        [control]="getFormControl(form, 'embarazada')"
      ></app-input>
    </div>

    <h2>¿Tu ser querido tiene algún rasgo distintivo?</h2>
    
    <div class="container-item">
      <h3>Cicatrices</h3>
      <app-input
        label="Descripción"
        type="text"
        placeholder="Ej. Cicatriz en el brazo izquierdo"
        [control]="getFormControl(form, 'cicatrices')"
      ></app-input>
    </div>

    <div class="container-item">
      <h3>Tatuajes</h3>
      <app-input
        label="Descripción"
        type="text"
        placeholder="Ej. Tatuaje de mariposa en el hombro"
        [control]="getFormControl(form, 'tatuajes')"
      ></app-input>
    </div>

    <app-custom-button
      label="Guardar"
      type="submit"
      [disabled]="!isFormValid()"
      [textColor]="'var(--ion-color-light)'"
      [backgroundImage]="buttonBackground"
    ></app-custom-button>
  </form>
</div>